<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/108dkeyval_109dsetdefault.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#108 딕셔너리에 요소 추가하기: d[key]=val
nameList = ['Mary','Cris','Aimy','Tom','Bob']
population = [10999,2111,9778,20245,27115]
names = {} #빈 딕셔너리 정의
for k, v in zip(nameList,population):
  names[k] = v
  print(names)

{'Mary': 10999}
{'Mary': 10999, 'Cris': 2111}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245, 'Bob': 27115}

In [2]:
names['Mary'] = 20000
print(names)

{'Mary': 20000, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245, 'Bob': 27115}

In [3]:
#109 딕셔너리에 요소를 추가하고 값을 얻기: d.setdefault()
names = {'Mary':10999,'Cris':2111,'Aimy':9778}
population = names.setdefault('Sams')
print(f'names:{names}\npopulation: {population}')

names:{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Sams': None}
population: None

In [4]:
population = names.setdefault('Sams',100)
print(f'names: {names}\npopulation: {population}')

names: {'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Sams': None}
population: None

In [5]:
population = names.setdefault('Tom',1004)
print(f'names: {names}\npopulation: {population}')

names: {'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Sams': None, 'Tom': 1004}
population: 1004