<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/10type_annotation_11input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#010 타입 어노테이션
name = '홍길동'
age = 17
weight = 70.7
is_badman = False

In [4]:
name: str = '홍길동'
age: int = '17'
weight: float = 70.7
is_badman:bool = False

In [5]:
booklist: list[str] = ['삼국지', '수호지', '초한지']

In [6]:
island: tuple[str,float,float] = ('독도', 131.52, 37.14)

In [7]:
top4_familyname: dict[str,int] = {'김씨':123456,'나씨':345811,'박씨':963123,'이씨':865909}

In [8]:
fruits:set[str] = {'사과','배','수박','참외','딸기'}

In [10]:
print(__annotations__)

{'name': <class 'str'>, 'age': <class 'int'>, 'weight': <class 'float'>, 'is_badman': <class 'bool'>, 'booklist': list[str], 'island': tuple[str, float, float], 'top4_familyname': dict[str, int], 'fruits': set[str]}

In [11]:
fruits:set[str] = {'사과','배','수박','참외','딸기'}
fruits = {1,2,3,4,5}
print(fruits)

{1, 2, 3, 4, 5}

In [14]:
#011 사용자 입력:input()
userInput = input()
print('사용자가 입력한 값은 <'+userInput+'> 입니다.')

10
사용자가 입력한 값은 <10> 입니다.

In [15]:
userInput = input('값을 입력하세요: ')
print('사용자가 입력한 값은<'+userInput+'> 입니다.')

값을 입력하세요: yes
사용자가 입력한 값은<yes> 입니다.