<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/118dvalues_119reversedd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#118 딕셔너리의 모든 값 조회하기: d.values()
greats = {'유비':89, '관우':95, '장비':91, '조운':94}
levels = greats.values()
print(list(levels))

[89, 95, 91, 94]

In [2]:
greats['조운'] = 97
print(list(levels))

[89, 95, 91, 97]

In [3]:
#119 딕셔너리에서 모든 키의 순서를 거꾸로 하기: reversed(d)
greats = {'유비':89, '관우':95, '장비':91, '조운':94}
levels = reversed(greats)
print(list(levels))

['조운', '장비', '관우', '유비']