<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/4variable_5annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#004 변수
_myname = 'samsjang'
my_name = '홍길동'
MyName3 = 'Hong gil-dong'
contry = '대한민국'

In [2]:
counter = 1
counter = 2 #counter와는 다른 변수임

In [1]:
intdata = 1
pi = 3.14
flag = True

In [ ]:
ch = 'x'
strData = '사랑해요 파이썬!'

In [4]:
buffer = 1
buffer + 2

3

In [6]:
buffer = 'three'
buffer

'three'

In [7]:
#005 주석 처리하기

### 주석처리 예시
### 만든 날짜: 2024.12.30

a=1 #a에 1을 할당
b=5 #b에 5을 할당
print(a+b) #a+b의 값을 출력

6

In [9]:
comment = 'Result ='
# 삼중 따옴표로 특정 영역 주석 처리 예시
"""a = 1
b = 100
print(a+b)"""
a=5
b=50
print(comment, a+b)

Result = 55