<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/50max_min_51s_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#050 시퀀스 자료에서 최대/최소 요소 구하기: max(), min()
listData = [9.96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
print(max(listData))
print(min(listData))

9.96
0.93

In [4]:
strData = 'AlotofThingsOccurEachday'
print(max(strData))
print(min(strData))

y
A

In [5]:
strList = ['jang', 'apple12', '3sung', 'sam']
print(max(strList))
print(min(strList))

sam
3sung

In [6]:
list1 = [1,2,3,'a','b','c']
print(max(list1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [7]:
#051 시퀀스 자료에서 특정 요소 개수: s.count()
lyrics = 'A lot of thing occur each day! every day!'
print(lyrics.count('o'))

3

In [8]:
lyrics = 'A lot of things occur each day! every day!'
print(lyrics.count('day'))

2

In [9]:
lyrics = 'A lot of things occur each day! every day!'
print(lyrics.count(' '))

8

In [10]:
listData = [1,6,1,4,8,4,12,1,0,9,9,7,4,3,6,7,3,2]
print(listData.count(1))

3