<a href="https://colab.research.google.com/github/ppug15510-jpg/Exercise_2025/blob/main/58remove_59clear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#058 리스트에서 요소 삭제하기 2: list.remove()
numbers = [1,1,3,1,1,5,6,2,0,7]
if 1 in numbers:
  numbers.remove(1)
print(numbers)

[1, 3, 1, 1, 5, 6, 2, 0, 7]

In [2]:
numbers = [1,1,3,1,1,5,6,2,0,7]
while 1 in numbers:
  numbers.remove(1)
print(numbers)

[3, 5, 6, 2, 0, 7]

In [3]:
fruits = ['사과','배','오렌지','수박','참외']
fruits.remove('딸기')

ValueError: list.remove(x): x not in list

In [4]:
#059 리스트의 모든 요소 삭제하기: list.clear()
fruits = ['사과','배','오렌지','수박','참외']
fruits.clear()
print(fruits)

[]

In [5]:
fruits = ['사과','배','오렌지','수박','참외']
del fruits[:]
print(fruits)

[]